<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1"
    metadata-complete="true"
>
    <display-name>Kenzan Test</display-name>

    <servlet>
        <servlet-name>employer</servlet-name>
        <servlet-class>com.andrewgilmartin.kenzantest.EmployerHttpServlet</servlet-class>
        <init-param>
            <param-name>employees</param-name>
            <param-value>WEB-INF/employees.json</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <security-role-ref>
            <role-name>manager</role-name>
            <role-link>MANAGER</role-link>
        </security-role-ref>        
    </servlet>

    <servlet-mapping>
        <servlet-name>employer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>MANAGER</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>delete</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>MANAGER</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>    
    
</web-app>
